@plugin "./dist/module/plugin/index.js";

@theme {
  --text-xs--line-height: calc(1em / 0.75);
  --text-sm--line-height: calc(1.25em / 0.875);
  --text-base--line-height: calc(1.5em / 1);
  --text-lg--line-height: calc(1.75em / 1.125);
  --text-xl--line-height: calc(1.75em / 1.25);
  --text-2xl--line-height: calc(2em / 1.5);
  --text-3xl--line-height: calc(2.25em / 1.875);
  --text-4xl--line-height: calc(2.5em / 2.25);
  --text-5xl--line-height: 1em;
  --text-6xl--line-height: 1em;
  --text-7xl--line-height: 1em;
  --text-8xl--line-height: 1em;
  --text-9xl--line-height: 1em;

  --leading-tight: 1.25em;
  --leading-snug: 1.375em;
  --leading-normal: 1.5em;
  --leading-relaxed: 1.625em;
  --leading-loose: 2em;

  --elevation-xs: 1;
  --elevation-sm: 3;
  --elevation-md: 6;
  --elevation-lg: 8;
  --elevation-xl: 13;
  --elevation-2xl: 24;
  --elevation-none: 0;
}

:root {
  @media ios {
    --font-sans: System;
    --font-serif: Georgia;
    --font-mono: Menlo;
  }

  @media android {
    --font-sans: SystemAndroid;
    --font-serif: sans-serif;
    --font-mono: monospace;
  }
}

@utility color-* {
  color: --value(--color-*);
}

@utility elevation-* {
  -rn-elevation: --value(--elevation-*);
}

@custom-variant ios (@media ios);
@custom-variant android (@media android);
@custom-variant native (@media native);
@custom-variant tv (@media (display-mode: tv));
/* Native does not support the child combinator */
@custom-variant web (@supports selector(div > div));

@utility visible {
  opacity: 1;
}
@utility invisible {
  opacity: 0;
}
