@theme {
  --text-xs--line-height: calc(1em / 0.75);
  --text-sm--line-height: calc(1.25em / 0.875);
  --text-base--line-height: calc(1.5em / 1);
  --text-lg--line-height: calc(1.75em / 1.125);
  --text-xl--line-height: calc(1.75em / 1.25);
  --text-2xl--line-height: calc(2em / 1.5);
  --text-3xl--line-height: calc(2.25em / 1.875);
  --text-4xl--line-height: calc(2.5em / 2.25);

  --leading-tight: 1.25em;
  --leading-snug: 1.375em;
  --leading-normal: 1.5em;
  --leading-relaxed: 1.625em;
  --leading-loose: 2em;
}